div.item div {
  /*background: #fdd;*/
  table-layout: fixed;
  display: table;
}

div.item div h1, h2, h3, h4 {
  height: 60px;
  vertical-align: bottom;
  display: table-cell;
  /*background: #eee;*/
}

.post {
  word-wrap: break-word;
}

.pageCount {
  text-align: right;
}


.topBuffer {
  margin-top: 15px;
}

.bottomBuffer {
  margin-bottom: 15px;
}
