{{template "header.html" .}}
		<div class="row">
			<div class="col-md-10">
				<span class="h1">{{.forum.Title}} <small>{{.forum.Description}}</small></span>
			</div>
		</div>

		{{if .user}}
		<div class="row topBuffer">
			<div class="col-md-10">
				<a class="btn btn-primary" role="button"href="/forum/{{.forum.Id}}/add">Add topic</a>
			</div>
		</div>
		{{end}}

		{{range $t := .topics}}
		<div class="row item topBuffer">
			<div class="col-md-10">
				<span class="h2"><a href="/topic/{{$t.Id}}">{{$t.Title}}</a>
						<small>{{$t.Description}}</small></span>
			</div>
			<div class="col-md-2">
					<span class="h4">{{$t.PostCount}} posts</span>
			</div>
		</div>
		{{end}}

		<div class="row">
			<div class="col-md-8">
				{{if .user}}
				<a class="btn btn-primary topBuffer" role="button" href="/forum/{{.forum.Id}}/add">Add topic</a>
				{{end}}
			</div>
			<div class="col-md-4">
				<nav class="pageCount">
					<ul class="pagination">
						{{range .pageIndicies}}
						{{if eq $.currentPage .}}
						<li class="active"><a>{{.}}</a></li>
						{{else}}
						<li><a href="/forum/{{$.forum.Id}}/page/{{.}}">{{.}}</a></li>
						{{end}}
						{{end}}
					</ul>
				</nav>
			</div>
		</div>
{{template "footer.html" .}}
