{{template "header.html" .}}
		<h1>{{.forum.Title}} <small>{{.forum.Description}}</small></h1>

		<div>
			{{if .user}}
			<a href="/forum/{{.forum.Id}}/add">Add topic</a>
			{{end}}
		</div>

		<div class="container-fluid">
			{{range $t := .topics}}
			<div class="row item">
				<div class="col-md-10">
					<h2><a href="/topic/{{$t.Id}}">{{$t.Title}}</a>
							<small>{{$t.Description}}</small></h2>
				</div>
				<div class="col-md-2">
						<h4>{{$t.PostCount}} posts</h4>
				</div>
			</div>
			{{end}}
		</div>

		<div>
			{{if .user}}
			<a href="/forum/{{.forum.Id}}/add">Add topic</a>
			{{end}}
		</div>
{{template "footer.html" .}}
