{{template "header.html" .}}
		<div class="row">
			<div class="col-md-10">
				<h1>{{.topic.Title}} <small>{{.topic.Description}}</small></h1>
			</div>
		</div>

		{{if .user}}
		<div class="row">
			<div class="col-md-10">
				<a href="/topic/{{.topic.Id}}/add">Add Post</a>
			</div>
		</div>
		{{end}}

		{{if .user}}
		<!-- inspired by http://stackoverflow.com/questions/8982295/confirm-delete-modal-dialog-with-twitter-bootstrap -->
		<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModal" aria-hidden="true">
				<div class="modal-dialog">
						<div class="modal-content">
								<div class="modal-header">
										<h4>Delete post?</h4>
								</div>
								<div class="modal-body">
										<p>Are you sure you want to delete this post?</p>
								</div>
								<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
										<button id="delete" class="btn btn-danger danger">Delete</button>
								</div>
						</div>
				</div>
		</div>
		{{end}}

		{{range $p := .posts}}
		<div class="row">
			<div class="col-md-2">
				<div class="row">
					<div class="col-md-12">
						{{$p.User.Username}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<small>{{$p.Published.Format "1/2/06 03:04 pm" }}</small>
					</div>
				</div>
				{{if $.user}}
				{{if eq $.user.Id $p.User.Id}}
				<div class="row">
					<div class="col-md-12">
						<form action ="/topic/{{$.topic.Id}}/delete" method="POST">
							<input type="hidden" name="TopicId" value="{{$.topic.Id}}" />
							<input type="hidden" name="PostId" value="{{$p.Id}}" />
							<button class='btn btn-danger btn-xs' type="submit" name="removePost" value="delete"><span class="fa fa-times"></span> delete</button>
						</form>
					</div>
				</div>
				{{end}}
				{{end}}
			</div>
			<div class="col-md-10">
				<p class="post">{{$p.Text | markDown}}</p>
			</div>
		</div>
		{{end}}

		{{if .user}}
		<div class="row">
			<div class="col-md-10">
				<a href="/topic/{{.topic.Id}}/add">Add Post</a>
			</div>
		</div>
		{{end}}
{{template "footer.html" .}}
