{{template "header.html" .}}
		<h1>{{.topic.Title}}: {{.topic.Description}}</h1>	
		
		<h2>Posts</h2>

		<div>
			{{if .user}}
			<a href="/topic/{{.topic.Id}}/add">Add Post</a>
			{{end}}
		</div>

		<table>
			<tr>
				<td>id</td>
				<td>User</td>
				<td>Date</td>
				<td>Text</td>
			</tr>

			{{range $p := .posts}}
			<tr>
				<td>{{$p.Id}}</td>
				<td>{{$p.User.Username}}</td>
				<td>{{$p.Published}}</td>
				<td>{{$p.Text}}</td>
			</tr>
			{{end}}
		</table>

		<div>
			{{if .user}}
			<a href="/topic/{{.topic.Id}}/add">Add Post</a>
			{{end}}
		</div>
{{template "footer.html" .}}
