{{template "header.html" .}}
		<div class="row" class="bottomBuffer">
			<div class="col-md-10">
				<span class="h1">{{.topic.Title}} <small>{{.topic.Description}}</small></span>
			</div>
		</div>

		{{if .user}}
		<div class="row topBuffer">
			<div class="col-md-10">
				<a class="btn btn-primary" role="button" href="/topic/{{.topic.Id}}/add">Add Post</a>
			</div>
		</div>
		{{end}}

		{{if .user}}
		<!-- inspired by http://stackoverflow.com/questions/8982295/confirm-delete-modal-dialog-with-twitter-bootstrap -->
		<div class="modal modal-lg fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModal" aria-hidden="true">
				<div class="modal-dialog">
						<div class="modal-content">
								<div class="modal-header">
										<span class="h4">Delete post?</span>
								</div>
								<div class="modal-body">
										<p>Are you sure you want to delete this post?</p>
								</div>
								<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
										<button id="delete" class="btn btn-danger danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
Delete</button>
								</div>
						</div>
				</div>
		</div>
		{{end}}

		{{range $p := .posts}}
		<div class="row topBuffer">
			<div class="col-md-2">
				<div class="row">
					<div class="col-md-12">
						{{$p.User.Username}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<small>{{$p.Published.Format "1/2/06 03:04 pm" }}</small>
					</div>
				</div>
				{{if $.user}}
				{{if eq $.user.Id $p.User.Id}}
				<div class="row">
					<div class="col-md-12">
						<form action ="/topic/{{$.topic.Id}}/delete" method="POST">
							<input type="hidden" name="TopicId" value="{{$.topic.Id}}" />
							<input type="hidden" name="PostId" value="{{$p.Id}}" />
							<button class='btn btn-danger btn-xs' type="submit" name="removePost" value="delete"><span class="fa fa-times"></span> delete</button>
						</form>
					</div>
				</div>
				{{end}}
				{{end}}
			</div>
			<div class="col-md-10">
				<span class="post">
					{{$p.Text | markDown}}
				</span>
			</div>
		</div>
		{{end}}

		<div class="row">
			<div class="col-md-8">
				{{if .user}}
				<a class="btn btn-primary topBuffer" role="button" href="/topic/{{.topic.Id}}/add">Add Post</a>
				{{end}}
			</div>
			<div class="col-md-4">
				<nav class="pageCount">
					<ul class="pagination">
						{{range .pageIndicies}}
						{{if eq $.currentPage .}}
						<li class="active"><a>{{.}}</a></li>
						{{else}}
						<li><a href="/topic/{{$.topic.Id}}/page/{{.}}">{{.}}</a></li>
						{{end}}
						{{end}}
					</ul>
				</nav>
			</div>
		</div>
{{template "footer.html" .}}
